.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #eeeeee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
    background-color: #eeeeee;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/* 
estilos generados
*/
.navbar-default {
  background-color: #eeeeee;
}
.contenedor-interno{
  background-color:  #eeeeee !important
}
.menu-contenedor{
  background-color: #FFFFFF
}
.iconos{
  font-size: 20px;
  text-align: center;
}
.active {
  background: #193948 !important;
  color: #FFFFFF !important;
}
.active:hover {
  background: #417a9b !important;
  color: #d5dde2 !important;
}
.menu > li > a {
  padding-left: 65px;
  padding-right: 65px;
}
.menu > li > a:hover{
  background: #417a9b !important;
  color: #d5dde2 !important;
}
.menu{
  text-align: center;
}
.vl {
  border-left: 1px solid #252525;
  height: 500px;
}

/*boton on off*/
.btn-switch {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  cursor: pointer;
  background-color: #193948;
  border-radius: 40px;
}
  
.btn-switch-circle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 27px;
    width: 27px;
    background-color: #fff;
    border-radius: 40px;
}


.btn-switch--on {
background-color: #80CDBE;
}
.btn-switch-circle--on {
    left: auto;
    right: 0;
}

.smart-filtros{
  font-size: 20px;
}
.filtros{
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.1px;
  width: 60%;
}

.centrado{
  text-align: center;
}

#btnDelivered{
  background-color: #FFFFFF;
  width: 50%;
}



.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}
.search input { 
  text-indent: 30px;
  border: none
}
.search .fa-search { 
  position: absolute;
  top: 28px;
  left: 65%;
  font-size: 15px;
}

input {
    width: 50%;
    padding: 5px;
    margin: 15px;
}


