<div class="header">

    <div class="navbar navbar-default" role="navigation">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="navbar-header">
                        <a class="" ui-sref="inicio"><img src="../../images/logo.png" width="100px" height="75px" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="collapse navbar-collapse" id="js-navbar-collapse">
                        <ul class="menu-contenedor nav navbar-nav menu" ng-repeat="men in menuItems">
                            <li>
                                <a ui-sref="{{men.ref}}" ui-sref-active="active">
                                    <div class="row">
                                        <span class="iconos glyphicon glyphicon-{{men.icon}}"></span>
                                    </div>
                                    <div class="row">
                                        {{men.nombre}}
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>