<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" ui-sref="inicio">mockupSc</a>
            </div> -->

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav menu" ng-repeat="men in menuItems">
                    <li>
                        <a ui-sref="{{men.ref}}" ui-sref-active="active">
                            <div class="row">
                                <span class="iconos glyphicon glyphicon-{{men.icon}}"></span>
                            </div>
                            <div class="row">
                                {{men.nombre}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>