<div ng-controller="InicioCtrl">

    <div class="row contenedor-interno">
        <!-- filtros -->
        <div class="col-md-3">

            <div class="row smart">
                <div class="col-md-2 col-md-offset-2 smart-filtros">
                    <label class="glyphicon glyphicon-tint"></label>
                </div>
                <div class="col-md-8">
                    Smart filters
                </div>
            </div>
            <hr>
            <div class="row filtros">
                <div class="col-md-5 col-md-offset-2">
                    <label class="glyphicon glyphicon-credit-card"></label>
                </div>
                <div class="col-md-5">
                    <btn-on-off modelo="onoff.ventas"></btn-on-off>
                </div>
            </div>
            <div class="row filtros">
                <div class="col-md-5 col-md-offset-2">
                    <label class="glyphicon glyphicon-calendar"></label>
                </div>
                <div class="col-md-5">
                    <btn-on-off modelo="onoff.calendario"></btn-on-off>
                </div>
            </div>

            <div class="row filtros">
                <div class="col-md-5 col-md-offset-2">
                    <label class="glyphicon glyphicon-heart-empty"></label>
                </div>
                <div class="col-md-5">
                    <btn-on-off modelo="onoff.gustos"></btn-on-off>
                </div>
            </div>

            <hr>

            <div class="row centrado">
                Status
            </div>

            <div class="row centrado">
                <div class="search">
                    <input placeholder="Search">
                </div>
            </div>

            <div class="row centrado">
                <button id="btnDelivered" class="btn btn-light">DELIVERED</button>
            </div>


        </div>
        <!-- borde vertical -->
        <div class="col-md-1 vl"></div>

        <!-- seccion interna -->
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <div class="search">
                        <input placeholder="Search">
                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="info in informacion | orderBy:ordenar">
                <div class="row elementos">
                    <div class="col-md-1 elementos-icon">
                        <label class="glyphicon glyphicon-ok-sign"></label>
                    </div>
                    <div class="col-md-11 elementos-info">
                        <div class="col-md-2">
                            <label class="formatear-fecha">{{info.fecha | date:"MM/dd/yyyy 'at' h:mma"}}</label>
                        </div>
                        <div class="col-md-1 vl2"></div>
                        <div class="col-md-3">
                            <div class="row">{{info.ciudadOrigen}}</div>
                            <div class="row flecha-abajo"><label class="glyphicon glyphicon-chevron-down"></label></div>
                            <div class="row">{{info.ciudadDestino}}</div>
                        </div>
                        <div class="col-md-1 vl2"></div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="glyphicon glyphicon-plane info-costo-icon"></label>
                                </div>
                                <div class="col-md-4">
                                    <label class="info-costo-icon">{{info.valor | currency : "$" : 2 }}</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="cantidad">{{info.cantidad}}</label>
                                </div>
                                <div class="col-md-1">
                                    <label class="glyphicon glyphicon-option-vertical info-costo-icon"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>